[submodule "AEM"]
	path = AEM
	url = https://github.com/DantaFramework/AEM.git
[submodule "AEMDemo"]
	path = AEMDemo
	url = https://github.com/DantaFramework/AEMDemo.git
[submodule "API"]
	path = API
	url = https://github.com/DantaFramework/API.git
[submodule "Core"]
	path = Core
	url = https://github.com/DantaFramework/Core.git
[submodule "JahiaDF"]
	path = JahiaDF
	url = https://github.com/DantaFramework/JahiaDF.git
[submodule "JahiaDFContentDefinition"]
	path = JahiaDFContentDefinition
	url = https://github.com/DantaFramework/JahiaDFContentDefinition.git
[submodule "JahiaDFDemo"]
	path = JahiaDFDemo
	url = https://github.com/DantaFramework/JahiaDFDemo.git
[submodule "Parent"]
	path = Parent
	url = https://github.com/DantaFramework/Parent.git
[submodule "AEMBase"]
	path = AEMBase
	url = https://github.com/DantaFramework/AEMBase.git
